

  @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.car {
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    animation: slide 80s linear infinite; 
}

.slide {
    min-width: 100%;
}

.car:hover .slider {
    animation-play-state: paused;
}